*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}
.main_container{
  display: flex;
  margin-top: 10px;
  /* height: calc(100vh - 72px); */
  flex-direction: column;
}