.primary{
    padding: 10px 18px;
    background-color: black;
    color: white;
    min-width: 220px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
    border: none;
    justify-content: center;
    cursor: pointer;
}
.outline{
    padding: 10px 18px;
    border: 1px solid black;
    color: black;
    min-width: 220px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
}
.form_contact{
    display: flex;
    flex-direction: column;
    gap: 24px;
    /* align-items: center;  */
    justify-content: center;
}